@import '../base';

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }    

    .sprdr-sp {
        display: none !important;
    }
    
    .sprdr-pc {
        display: block !important;
    }
}

@mixin font-s-pc {
    font-size: 14px;
}

@mixin font-l-pc {
    font-size: 18px;
}

@mixin font-3l-pc {
    font-size: 28px;
}

@mixin h2-pc {
    font-size: 24px;
}

@mixin cta1-pc {

    &:active {
        box-shadow: initial;
        transform: initial;
    }

    &:hover {
        box-shadow: 0 0 0 0 transparent;
        transform: translateY(2px)
    }

    a {
        
        img {
            width: 80px;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-5px, -50%) rotate(15deg);
        }
    }
}

@mixin cta2-pc {
    width: 22.8vw;
}
