/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 150%;
}

.sprdr-pc {
  display: none !important;
}

html, body {
  width: 100vw;
}

.sprdr-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

html body .sprdr-fv {
  height: 100vw;
}
html body .sprdr_main {
  background-color: #F7F7D0;
}
html body .sprdr_main .sprdr-epilogue {
  width: 100%;
  overflow-x: hidden;
}
html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(1) {
  width: 100%;
  height: 35vw;
  position: relative;
}
html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(1) img:nth-of-type(1) {
  width: 60.515vw;
  transform: translateX(-18.525vw);
}
html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(1) img:nth-of-type(2) {
  width: fit-content;
  height: 43.2vw;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(26.1vw);
}
html body .sprdr_main .sprdr-epilogue h1 {
  font-size: 28px;
  font-weight: 700;
  color: #084E80;
  text-align: center;
}
html body .sprdr_main .sprdr-epilogue p {
  margin-top: 20px;
  font-size: 16px;
  color: #414143;
  text-align: center;
}
html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(3) {
  width: 100%;
  height: 42.5vw;
  margin-top: 10px;
  position: relative;
}
html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(3) img:nth-of-type(1) {
  width: 33.3vw;
  margin-left: 20px;
}
html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(3) img:nth-of-type(2) {
  width: fit-content;
  height: 41.3775vw;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(13.8375vw);
}
html body .sprdr_main .sprdr-detail article {
  width: 100%;
  padding-bottom: 54px;
  margin-top: 9.6vw;
  position: relative;
}
html body .sprdr_main .sprdr-detail article::before {
  content: "";
  width: 100%;
  height: 9.6vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
html body .sprdr_main .sprdr-detail article .sprdr-bg {
  width: 100%;
  height: 9.6vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
html body .sprdr_main .sprdr-detail article .sprdr-bg-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-40%);
}
html body .sprdr_main .sprdr-detail article h2 {
  padding-top: 16vw;
  font-size: 20px;
  font-weight: 700;
  color: #084E80;
  text-align: center;
}
html body .sprdr_main .sprdr-detail article .sprdr_img {
  display: block;
  width: calc(100vw - 48px);
  height: calc(100vw - 48px);
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 1;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 24px;
  position: relative;
  z-index: 0;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy::before {
  content: "";
  width: 100%;
  height: 18px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
html body .sprdr_main .sprdr-detail article .sprdr-copy h3 {
  padding: 24px 0 0 24px;
  font-size: 16px;
  font-weight: 700;
  color: #414143;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy p {
  width: calc(100% - 48px);
  margin: 12px auto 0 auto;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy p:nth-of-type(2) {
  font-size: 12px;
  color: #414143;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy p:nth-of-type(2) span {
  font-size: 24px;
  font-weight: 700;
  color: #414143;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy .sprdr-cta {
  width: calc(100% - 48px);
  height: 48px;
  border-radius: 40px;
  background-color: #EBEB4A;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  margin: 12px auto 0 auto;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy .sprdr-cta a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #084E80;
  position: relative;
}
html body .sprdr_main .sprdr-detail article .sprdr-copy .sprdr-cta a img {
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-9.3vw, -50%) rotate(15deg);
}
html body .sprdr_main .sprdr-detail article .sprdr-photo {
  width: 100%;
  margin-top: 40px;
  position: relative;
}
html body .sprdr_main .sprdr-detail article .sprdr-photo img {
  display: block;
  width: calc(100% - 52px);
  margin: 0 auto;
}
html body .sprdr_main .sprdr-detail article .sprdr-photo .sprdr-treat {
  position: absolute;
}
html body .sprdr_main .sprdr-detail article:nth-of-type(odd) {
  background-color: #F0F8F8;
}
html body .sprdr_main .sprdr-detail article:nth-of-type(odd)::before {
  background-color: #F7F7D0;
}
html body .sprdr_main .sprdr-detail article:nth-of-type(even) {
  background-color: #F7F7D0;
}
html body .sprdr_main .sprdr-detail article:nth-of-type(even)::before {
  background-color: #F0F8F8;
}
html body .sprdr_main .sprdr-detail .sprdr-carrot .sprdr-photo .sprdr-treat {
  width: 47.7vw;
  bottom: 0;
  left: 0;
  transform: translateX(-16.8vw);
}
html body .sprdr_main .sprdr-detail .sprdr-honey .sprdr-photo .sprdr-treat {
  width: 31.2vw;
  bottom: 0;
  left: 26px;
  transform: translate(20px, 20px);
}
html body .sprdr_main .sprdr-detail .sprdr-hyuganatsu .sprdr-photo .sprdr-treat {
  width: 36.6vw;
  top: 0;
  right: 0;
  transform: translate(-20px, 20px);
}
html body .sprdr_main .sprdr-detail .sprdr-french {
  padding-bottom: 100px;
}
html body .sprdr_main .sprdr-recommend {
  background-color: #FFFFFF;
  padding-top: 80px;
}
html body .sprdr_main .sprdr-recommend h2 {
  padding-left: 16px;
  font-size: 28px;
  font-weight: 700;
  color: #414143;
}
html body .sprdr_main .sprdr-recommend ul {
  width: calc(100% - 32px);
  margin: 24px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}
html body .sprdr_main .sprdr-recommend ul li {
  width: calc(50% - 8px);
  margin-top: 40px;
}
html body .sprdr_main .sprdr-recommend ul li a {
  display: block;
  color: #414143;
}
html body .sprdr_main .sprdr-recommend ul li a h3 {
  padding-top: 3px;
}
html body .sprdr_main .sprdr-recommend ul li:nth-of-type(even) {
  margin-left: 16px;
}
html body .sprdr_main .sprdr-recommend ul li:nth-of-type(1), html body .sprdr_main .sprdr-recommend ul li:nth-of-type(2) {
  margin-top: 0;
}
html body .sprdr_main .sprdr-recommend .sprdr-cta {
  width: 77.9vw;
  height: 48px;
  border-radius: 8px;
  background-color: #B8193F;
  margin: 24px auto 0 auto;
}
html body .sprdr_main .sprdr-recommend .sprdr-cta a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
}
html body .sprdr_main .sprdr-recommend:nth-last-of-type(1) {
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
  .sprdr-sp {
    display: none !important;
  }
  .sprdr-pc {
    display: block !important;
  }
  html body .sprdr-fv {
    height: initial;
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(1) {
    height: 161px;
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(1) img:nth-of-type(1) {
    width: 18.4vw;
    position: absolute;
    top: 0;
    left: 4.5vw;
    transform: translateX(0);
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(1) img:nth-of-type(2) {
    width: 15.3vw;
    height: fit-content;
    right: 3.3vw;
    transform: translateX(0);
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-copy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-copy h1 {
    font-size: 32px;
    text-align: initial;
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-copy p {
    margin-top: 0;
    margin-left: 7.8vw;
    font-size: 18px;
    text-align: initial;
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(3) {
    height: 197px;
    margin-top: 0;
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(3) img:nth-of-type(1) {
    width: 12.21vw;
    position: absolute;
    top: 0;
    left: 11.1vw;
    transform: translateY(-40px);
  }
  html body .sprdr_main .sprdr-epilogue .sprdr-con:nth-of-type(3) img:nth-of-type(2) {
    width: 19.6vw;
    height: fit-content;
    transform: translate(7.4vw, -60px);
  }
  html body .sprdr_main .sprdr-detail article {
    padding-bottom: 100px;
    margin-top: 0;
  }
  html body .sprdr_main .sprdr-detail article::before {
    display: none;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-bg {
    width: 29.5vw;
    height: initial;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  html body .sprdr_main .sprdr-detail article .sprdr-bg-text {
    width: 29.5vw;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  html body .sprdr_main .sprdr-detail article h2 {
    padding-top: 80px;
    font-size: 24px;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex .sprdr_img {
    width: 31.3vw;
    height: 31.3vw;
    margin: 0 0 0 0;
    z-index: 0;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex .sprdr-copy {
    width: 31.3vw;
    box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.25);
    margin-left: 40px;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex .sprdr-copy::before {
    display: none;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex .sprdr-copy h3 {
    font-size: 18px;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex .sprdr-copy p:nth-of-type(2) {
    font-size: 14px;
    color: #414143;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-flex .sprdr-copy .sprdr-cta a img {
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-5px, -50%) rotate(15deg);
  }
  html body .sprdr_main .sprdr-detail article .sprdr-photo {
    margin: 40px auto 0 auto;
  }
  html body .sprdr_main .sprdr-detail article .sprdr-photo img {
    width: 100%;
    margin: 0 0;
  }
  html body .sprdr_main .sprdr-detail .sprdr-carrot .sprdr-photo {
    width: 36.4vw;
  }
  html body .sprdr_main .sprdr-detail .sprdr-carrot .sprdr-photo .sprdr-treat {
    width: 13.2vw;
    top: 0;
    right: 0;
    bottom: initial;
    left: initial;
    transform: translate(calc(100% - 79px), -42px);
  }
  html body .sprdr_main .sprdr-detail .sprdr-honey .sprdr-photo {
    width: 34.4vw;
  }
  html body .sprdr_main .sprdr-detail .sprdr-honey .sprdr-photo .sprdr-treat {
    width: 10.8vw;
    top: 0;
    bottom: initial;
    left: 0;
    transform: translate(-115px, 0);
  }
  html body .sprdr_main .sprdr-detail .sprdr-hyuganatsu .sprdr-photo {
    width: 35vw;
  }
  html body .sprdr_main .sprdr-detail .sprdr-hyuganatsu .sprdr-photo .sprdr-treat {
    width: 10.725vw;
    transform: translate(113px, -22px);
  }
}